@using ReadOtter.Shared.Data.Models
@using ReadOtter.Shared.Data.Services
@using VersOne.Epub.Schema;
@inject EpubMetadataService EpubMetadataService
@inject NavigationManager Navigation

<div class="book-grid-item" @onclick=@ViewBook>
	<!-- INSERT IMAGE HERE -->
	<img src="@GetCoverImageBase64String()"/>

	<h2>Author(s)</h2>
	@GetCreatorsList()
	<br />

	<h2>Publisher(s)</h2>
	@GetPublishersList()
</div>

@code {
	[Parameter]
	public Book Book { get; set; }

	EpubMetadata metadata;

	protected override void OnParametersSet()
	{
		metadata = EpubMetadataService.GetEpubMetaData(Book);
	}

	string GetCreatorsList()
	{
		return string.Join(", ", metadata.Creators.Select(c => c.Creator));
	}

	string GetPublishersList()
	{
		return string.Join(", ", metadata.Publishers.Select(p => p.Publisher));
	}

	string GetCoverImageBase64String()
	{
		return EpubMetadataService.GetCoverImage(Book);
	}

	void ViewBook()
	{
		Navigation.NavigateTo("reader/" + Book.Id);
	}
}
