@using ReadOtter.Shared.Data.Models
@using ReadOtter.Shared.Data.Services
@using VersOne.Epub.Schema;
@inject EpubMetadataService EpubMetadataService

<div class="book-grid-item">
	<!-- INSERT IMAGE HERE -->
	<img class="book-cover-image"/>

	<h2>Descriptions</h2>
	<!-- Description(s) -->
	@foreach (var description in metadata.Descriptions)
	{
		<p>@((MarkupString)description.Description)</p>
	}

	<h2>Creators</h2>
	@GetContributorsList()

	<h2>Publishers</h2>
	@GetPublishersList()
</div>

@code {
	[Parameter]
	public Book Book { get; set; }

	EpubMetadata metadata;

	protected override void OnParametersSet()
	{
		metadata = EpubMetadataService.GetEpubMetaData(Book);
	}

	string GetCreatorsList()
	{
		return string.Join(", ", metadata.Creators.Select(c => c.Creator));
	}

	string GetPublishersList()
	{
		return string.Join(", ", metadata.Publishers.Select(p => p.Publisher));
	}

	string GetContributorsList()
	{
		return string.Join(", ", metadata.Contributors.Select(c => c.Contributor));
	}
}
