@using ReadOtter.Shared.Data.Models
@using ReadOtter.Shared.Data.Services
@using VersOne.Epub
@inject EpubContentService EpubContentService

<div class="ReadView">

	<div class="ReadView-Content">
		@((MarkupString)content)
	</div>

	<button class="btn btn-primary" @onclick=@GotoPreviousChapter>Previous Chapter</button>
	<button class="btn btn-primary" @onclick=@GotoNextChapter>Next Chapter</button>
</div>

@code {
	[Parameter]
	public int BookId { get; set; }

	string content;


	protected override void OnInitialized()
	{
		UpdateContent();
	}

	void GotoPreviousChapter()
	{
		EpubContentService.OffsetBookCurrentChapter(BookId, -1);
		UpdateContent();
	}

	void GotoNextChapter()
	{
		EpubContentService.OffsetBookCurrentChapter(BookId, 1);
		UpdateContent();
	}

	void UpdateContent()
	{
		content = EpubContentService.GetCurrentChapterTextContent(BookId);
		// StateHasChanged();
	}
}
