@using VersOne.Epub
@inject EpubContentService EpubContentService
@inject InputService InputService

<div class="ReadView">

	<div class="ReadView-Content">
		@((MarkupString)content)
	</div>

	<button class="btn btn-primary" @onclick=@GotoPreviousChapter>Previous Chapter</button>
	<button class="btn btn-primary" @onclick=@GotoNextChapter>Next Chapter</button>
</div>

@code {
	[Parameter]
	public int BookId { get; set; }

	string content;

	protected override void OnInitialized()
	{
		UpdateContent();

		InputService.OnKeyDown += HandleKeyDown;
	}

	
	void HandleKeyDown(string key)
	{
		if (key == "ArrowRight")
		{
			GotoNextChapter();
		}

		if (key == "ArrowLeft")
		{
			GotoPreviousChapter();
		}
	}

	void GotoPreviousChapter()
	{
		EpubContentService.OffsetBookCurrentChapter(BookId, -1);
		UpdateContent();
	}

	void GotoNextChapter()
	{
		EpubContentService.OffsetBookCurrentChapter(BookId, 1);
		UpdateContent();
	}

	void UpdateContent()
	{
		content = EpubContentService.GetCurrentChapterTextContent(BookId);
		// StateHasChanged();
	}
}
