@using ReadOtter.Shared.Data
@inject Seeder Seeder
@inject ReadOtterLibraryDbContext Context

<h1>Seeder</h1>

<button class="btn btn-primary" @onclick="Seeder.SeedData">Seed Data</button>

<button class="btn btn-primary" @onclick="Seeder.ClearSeededData">Clear Seeded Data</button>

<button class="btn btn-primary" @onclick="Seeder.ClearAllData">Clear All Data</button>

<br />

@foreach(var book in Context.Books)
{
	<li>@book.Id: @book.Name</li>
}
